body {
   background-image: url('../images/graybackground.svg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center, center;
   background-attachment: fixed; 
}

button {
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 }

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;

}

.holding-container {
   display: grid;
   place-items: center;
   height: 100vh;

}

.hero-container {
   position: absolute;
   margin: auto;
   width: 50%;
   height: 50%;
   padding: 10px;
   justify-content: center;
}

.text {
   color: #cdcdcd; /* Ensure good contrast */
}

th, td {
   padding: 10px;
 }