   

 /* Checkbox help from: https://codepen.io/ghanbak/pen/KVmpXo */
/* color pallet information: https://www.smashingmagazine.com/2020/08/application-color-schemes-css-custom-properties/ */
/* color pallet generator: https://imagecolorpicker.com/ */

:root {
   --primary-blue: #b4cbf2; 
   --secondary-blue: #94a1b4; 
   --light-blue: #e9eeee;
   --accent-blue: #abdbe3;
   --text-gray: #2b3739; 
   --background-gray: #e7eaec; 
   --header-gray: #d0d3d4;
   --offwhite: #f8f8f8;
   --border-gray: #111617;
}

html, body {
   margin: 0px;
   padding: 0px;
   font-family: "Montserrat", sans-serif;
   background: var(--background-gray);

}

   .page-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px;
      padding: 0px;
      height: 100vh;
   }


   .header {
      background: var(--header-gray);
      padding: 30px;
      font-size: 32px;
      font-weight: 700;
      
      

   }
   
   .main-container {
      display: flex;
      
      flex: 1;
      justify-content: flex-start;

   }

      .filter-container {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         
         flex: 0 0 300px;
         background: var(--background-gray);

      }

         .filter-header {
            
            flex: 0 0 auto;
            padding: 5px;
            padding-left: 0px;
            margin: 15px;
            margin-left: 10px;
            font-size: 24px;
            font-weight: 700;

         }

         .filter {
            display: flex;
            border-right: 2px var(--border-gray);
            flex-direction: column;
            flex: 1;
            margin: 15px;   
            padding: 10px;
            justify-content: flex-start;
            gap: 15px;
            background: var(--offwhite);
            
         }

         .checkbox-container {
            display: block;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: 15px;
            font-weight: 400; 
         }

         .expandable-language,
         .expandable-type,
         .expandable-game-name {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            gap: 4px;
            padding-bottom: 15px;
            border-bottom: 1px solid dimgray;
            font-weight: 600; 
         }         

         .safe-search {
            flex: 0 0 auto;
            border: 2px dashed red;

         }
         
         .filter-button-container {
            
            display: flex;
            margin-left: 10px;
            margin-right: 10px;


            
            
            gap: 10px;
         }
            .clear {
               flex: 1;
               display: inline-block;
               outline: none;
               cursor: pointer;
               padding: 0 16px;
               background-color: #fff;
               border-radius: 0.25rem;
               border: 1px solid #0070d2;
               color: #0070d2;
               font-size: 13px;
               line-height: 30px;
               font-weight: 400;
               text-align: center;
               :hover {
                   background-color: #f4f6f9; 
               } 
           
            }
            .search {
               flex: 1;
          
               display: inline-block;
               outline: none;
               cursor: pointer;
               padding: 0 16px;
               background-color: #0070d2;
               border-radius: 0.25rem;
               border: 1px solid #0070d2;
               color: #fff;
               font-size: 13px;
               line-height: 30px;
               font-weight: 400;
               text-align: center;
               :hover {
                   background-color: #005fb2;  
                   border-color: #005fb2;
               } 
           
               

            }


      
      .results-container {
         display: flex;
         flex-direction: column;
         flex: 1 1 auto;
         

   
      }
         .results-header-container {
            display:flex;
            flex-direction: column;
            gap: 10px;
            
            flex: 0 0 auto;
            margin: 5px;
            

         }

            .results-filters {
               display: flex;
               justify-content: flex-start;
               border: 2px solid blue;

            }

            .results-header {
               display: flex;
               justify-content: space-between;
               border: 2px solid blue;

            }

               .results-info{
                  border: 2px solid blue;
               }

               .results-sort-by {
                  border: 2px solid blue;

               }

         .results{
         
            
            
            flex: 1 0 auto;
            padding: 5px;
            
            background: var(--background-gray);
            

         }

         .results-right-margin {
            
            padding: 10px;
         }
              

         .results-footer {
           

         }
         
      
        
         .results-tile {
            display: flex;
            justify-content: space-between;
            background: var(--offwhite);
            padding-top: 0px;
            margin-top: 0px;
            margin: 3px;
            padding: 4px;
            padding-top: 6px;
            padding-bottom: 6px;
            
            
   
         }

            .tile-left {
               flex: 0 1 150px;
               margin-left: 5px;
               
            }

               .left-viewers {

               }

               .left-thumbnail {
                  
               }



            .tile-center {
               flex: 2 0 auto;
               margin-left: 5px;
               padding-left:10px;
               
               border-right: 4px solid var(--background-gray);
               border-left: 4px solid var(--background-gray);
            }

               .center-info {
                  
               }

               .center-tags {

               }

            .tile-right {
               margin-left: 5px;
               flex: 0 1 150px;
               

            }
   
   

   

   .footer {
      border-top: var(--border-gray);
      background: var(--header-gray);
      padding: 15px;
   }
   
   .lable {
      padding-left: 5px;
   }

   .checkbox {
      
   }