



<div class="filter-header">Filter by...</div>
<form action="/" method="POST" class="filter">
  <div class="expandable-language"> Stream Language
    <div class="checkbox-container">
      
      <input class ="checkbox"  type="checkbox" id="language-1" name="language" value="en">
      <label class="lable" for="language1"> English </label><br>
      
    </div>
    <div class="checkbox-container">
      
      <input class ="checkbox" type="checkbox" id="langauge-2" name="language" value="es">
      <label class="lable" for="language2"> Spanish </label><br>
    </div>
    <div class="checkbox-container">
      
      <input class ="checkbox" type="checkbox" id="langauge-3" name="language" value="de">
      <label class="lable" for="language3"> German </label><br>
    </div>
  </div>
  <div class="expandable-type">Stream Type
    <div class="checkbox-container">
      
      <input class ="checkbox" type="checkbox" id="type-1" name="type" value="live">
      <label class="lable" for="type1"> Live </label><br>
    </div>
  </div>
  <div class="expandable-game-name">Stream Catagory
    
      {% for game in top_games %}
      <div class="checkbox-container">
        <input class ="checkbox" type="checkbox" id="game-{{ loop.index }}" name="game" value="{{ game['game_id'] }}">
        <label class="lable" for="game-{{ loop.index }}"> {{ game['game_name']}} </label><br>
      </div>
      {% endfor %}
    
  </div>

  
  <div class="filter-button-container">
   
  
    <button class="clear" name="clear-filters">Clear Filters</button>

    <button href="#"  class="search" name="call-api">Search</button>
  
  </div>
</form>
