<!-- Website template from bootstrap's cover templte: https://getbootstrap.com/docs/4.0/examples/cover/# -->
<!-- Additional Attributions -->
<!-- Additional Attributions -->
<!-- Additional Attributions -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>
    {% block title %}layout{% endblock %}
    </title>
    <link rel="template_source" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">
      

      <div class="container"> P
       

        <div class="masthead clearfix">
          <div class="container inner">
            
            <h3 cla~ss="masthead-brand">Twitch Scraper MVP</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li ><a href="/results">Results</a></li>
                <li ><a href="#">Profile</a></li>
              </ul>
            </nav>
            
          
          
          </div>
          {% block content %}{% endblock %}
        </div>

      </div>

    </div>
    





  </div>

 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    ~
  </body>
</html>