<!-- Attributions --> 
<!-- Design Inspiration:  v -->
<!-- Boilerplate: https://www.freecodecamp.org/news/basic-html5-template-boilerplate-code-example/ -->
<!-- Flexbox Education and resources: https://www.theodinproject.com/lessons/foundations-introduction-to-flexbox -->
<!-- Jinja help with Loop index: https://stackoverflow.com/questions/12145434/how-to-output-loop-counter-in-python-jinja-template -->
<!-- button styles from: https://copy-paste-css.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      {% block title %}
      <!-- DEFAULT CONTENT -->
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  </head>
  <body>
    <div class="page-container">
        <div class="header">CS50 Final Project: Twitch API Research</div>
        <div class="main-container">
          {% block content%}
          {% endblock %}
        </div>
        <div class="footer">footer</div>



    </div>











	<script src="index.js"></script>
  </body>
</html>