<!-- Attributions --> 
<!-- Design Inspiration:  v -->
<!-- Boilerplate: https://www.freecodecamp.org/news/basic-html5-template-boilerplate-code-example/ -->
<!-- Flexbox Education and resources: https://www.theodinproject.com/lessons/foundations-introduction-to-flexbox -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS50 Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>
    <div class="page-container">
        <div class="header">CS50 Final Project: Twitch API Research</div≈ç>
        <div class="main-container">
            
          <div class="filter-container">
            <div class="filter-header">filter by....</div>
            <form action="/form_handler" method="POST" class="filter">
              <div class="expandable-language"> Stream Language
                <div class="checkbox-container">
                  <label for="language1"> English </label>
                  <input type="checkbox" id="language-1" name="language" value="en"><br>
                  
                </div>
                <div class="checkbox-container">
                  <label for="language2"> Spanish </label>
                  <input type="checkbox" id="langauge-2" name="language" value="es"><br>
                </div>
                <div class="checkbox-container">
                  <label for="language3"> German </label>
                  <input type="checkbox" id="langauge-3" name="language" value="de"><br>
                </div>
              </div>
              <div class="expandable-type">Stream Type</div>
              <div class="expandable-game-name">Stream Catagory</div>
              <div class="safe-search">Safe Search: ON</div>
              <div class="search-clear-container">
                <form action="/clear" method="POST">
                  <button class="clear">Clear</button>
                </form>
                
                  <button href="#"  class="search" name="call-api">Do the thing!</button>
                
              </div>
            </form>

          </div>
            
            <div class="results-container"> 
              

              
              <div class="results-header-container">
                <div class="results-filters"> filter 1, filter 2, filter 3</div>
                <div class="results-header">
                  <div class="results-info">Total Results: #</div>
                  <div class="results-sort-by"> sort by</div>
                </div>
              </div>
              
              <div class="results"> 

             
                    <div class="results-tile">
                      
                      <div class="tile-left">
                        <div class="left-viewers">Viewers: </div>
                        <div class="left-thumbnail">IMG</div>
                      </div>
                      <div class="tile-center">
                        <div class="center-info">User Name: (User_ID: ) </div>
                        <div class="center-tags"> Type, Language,  Safe Search: ON</div>
                      </div>
                      <div class="tile-right">Result #</div>
                    </div>
                  
                    
              </div>
            

              <div class="results-footer"></div>
            </div>
          <div class="results-right-margin"></div>
        </div>
        <div class="footer">footer</div>



    </div>











	<script src="index.js"></script>
  </body>
</html>